body {
    background-color: rgb(15, 23, 39);
    color: white;
    background-image: url(images/bg1.jpg),
                      url(images/bg2.jpg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 35% auto, 35% auto;
    background-attachment: fixed scroll;
    /*height: 751px;*/
}

#main {
    margin: 0 0 0 0;
}

#left {
    margin-top: 30%;
}

#right {
    margin-left: -40px;
    padding: 7% 12% 0 12%;
    font-family: "Pier Sans Regular", sans-serif;
    color: #D5D6D9;
    text-align: right;
}

.albumart {
    border: 1px solid #71778C;
    border-radius: 2px;
    margin-right: auto;
    margin-left: 12%;
    width: 75%;
    height: auto;
}

.soundcloud {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 30px;
}

#right a.link {
    color: #D5D6D9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-size: 2em;
    font-family: "Pier Sans Bold", sans-serif;
}

#right a.link:hover {
    color: #ED64A3;
}

.bio {
    margin-top: 30px;
    line-height: 1.7em;
    margin-left: 20%;
}

.quote {
    background-color: #D5D6D9;
    border-radius: 2px;
    display: inline-block;
    color: #0D121E;
    text-decoration: none;
    margin: 20px 0px 15px 10px;
    padding: 5px;
    max-width: 250px;
    font-size: 0.5em;
    line-height: 1.5em;
}

@font-face {
    font-family: "Pier Sans Regular";
    src: url("resources/pier-regular.otf");
}


@font-face {
    font-family: "Pier Sans Bold";
    src: url("resources/pier-Bold.otf");
}

